/* popup custom css
=================================*/
/*we need to style the popup with CSS so it is placed as a popup does*/
#popup {
    display:none;
    position:absolute;
    margin:0 auto;
    padding: 10px;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 50px 2px #000;
	text-align: center;
	background-color: #F5F5F5;
    z-index: 999999;
}
